
# === PlatformIO === #
mibo-firmware/.pio/
mibo-esp-controller/.pio/
mibo-esp-controller-mibo/.pio/
mibo-firmware/.vscode/
mibo-esp-controller/.vscode/
mibo-esp-controller-mibo/.vscode/
mibo-firmware/.idea/
mibo-esp-controller/.idea/
mibo-esp-controller-mibo/.idea/
.idea

# === Android / Gradle / Kotlin ===
android-app/.gradle/
android-app/.kotlin/
android-app/build/
android-app/app/build/
android-app/local.properties
android-app/.idea/
*.iml

# === System Files ===
.DS_Store
Thumbs.db
EOF
